<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact Us</h1>
  <p>Address: 2 Stallion Way, North Brunswick NJ 08902</p>
  <p>Phone: (732) 398-9895</p>
  <p>Fax: (732) 398-1699</p>
  <p><%= mail_to 'nid.shows@gmail.com' %>
</div>
