<div class="center hero-unit">
  <h1>Nrithyanjali Institute of Dance</h1>

  <h2>
    A premier institution in the Tri-State (NY, NJ, PA) area for Bharatanatyam 
  </h2>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>